extends layout

block content       
    if success
        h1 Good Job! 
        p Here is your next hint : #{hint}
    else 
       h1 403 Forbidden
       p You don't have permission to access this resource.

    script.
       document.cookie = "username=#{username}";
       document.cookie = "password=#{password}";
       document.cookie = "isAdmin=0";