extends layout

block content       
    if success
        h1 Good Job! 
        p Here is your next hint : #{hint}
    else 
       h1 403 Forbidden
       p You don't have permission to access this resource.

    script(type='text/javascript').
       document.cookie = "username="+ makeid(15) + "==";
       document.cookie = "password="+ makeid(15) + "==";
       document.cookie = "isAdmin=0";

       function makeid(length) {
            var result = '';
            var characters  = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            var charactersLength = characters.length;
            for (let i = 0; i < length; i++ ) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            return result;
        }